@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
}


.active-tabs  {
  -webkit-box-shadow: inset 1px 1px 10px #333;
  -moz-box-shadow:    inset 1px 1px 10px #333;
   box-shadow:         inset 1px 1px 10px #333;
   border-radius: 5%;
}




.content-tabs {
  flex-grow : 1;
}
.content {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}



.Objects {
  position: relative;
  width: 120px; 
  height: 100px;
  background-color: #4ab22d;
  clip-path: polygon(50% 0, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
}

.Actions {
  position: relative;
  width: 120px; 
  height: 100px;
  background-color: #db5d41;
  clip-path: polygon(50% 14%, 100% 50%, 50% 87%, 0 50%);
}

.Negation {
  position: relative;
  width: 120px; 
  height: 100px;
  background-color: #db5d41;
  clip-path: polygon(50% 6%, 100% 43%, 100% 100%, 50% 64%, 0 100%, 0 44%);
}

.Union {
  position: relative;
  width: 120px; 
  height: 100px;
  background-color: #bababa;
  clip-path: polygon(0 0, 100% 30%, 100% 70%, 0 100%, 0 70%, 0 30%);

}

.Conditions {
  position: relative;
  width: 120px; 
  height: 100px;
  background-color: #bababa;
  clip-path: polygon(50% 6%, 100% 43%, 100% 100%, 50% 64%, 0 100%, 0 44%);
}
