@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Verdana', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}









.Objects {
  position: relative;
  width: 120px; 
  height: 100px;
  background-color: #eb555b;
  clip-path: polygon(50% 0, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
}

.Actions {
  position: relative;
  width: 120px; 
  height: 100px;
  background-color: #f4aece;
  clip-path: polygon(50% 14%, 100% 50%, 50% 87%, 0 50%);
}

.Negation {
  position: relative;
  width: 120px; 
  height: 100px;
  background-color: #eb555b;
  clip-path: polygon(50% 6%, 100% 43%, 100% 100%, 50% 64%, 0 100%, 0 44%);
}

.Union {
  position: relative;
  width: 120px; 
  height: 100px;
  background-color: #bababa;
  clip-path: polygon(0 0, 100% 30%, 100% 70%, 0 100%, 0 70%, 0 30%);

}

.Conditions {
  position: relative;
  width: 120px; 
  height: 100px;
  background-color: #bababa;
  clip-path: polygon(50% 6%, 100% 43%, 100% 100%, 50% 64%, 0 100%, 0 44%);
}

.Start {
  position: relative;
  width: 120px; 
  height: 100px;
  background-color: #f9b43d;
  clip-path: polygon(0 69%, 26% 0, 99% 28%, 74% 54%, 74% 100%);
}
.End {
  position: relative;
  width: 120px; 
  height: 100px;
  background-color: #f9b43d;
  clip-path: polygon(34% 49%, 0 0, 100% 0, 100% 100%, 0 100%);
}

